{% extends 'beautycalendar/base.html' %}
{% load static %}

{% block header %}
<div class="page-header section-dark" style="background-image: url('static/assets/img/index.png')">
    <div class="content-center">
      <div class="container">
        <div class="title-brand">
          <h1 class="presentation-title">BeautyDaily</h1>
          
        <h2 class="presentation-subtitle text-center">Tu agenda de belleza online </h2>
      </div>
    </div>
</div>
   
</div>
{% endblock header %}

{% block content %}

<div class="card mb-3" style="max-width: 900px;">
    <div class="row no-gutters">
      <div class="col-md-4" style="background-color: orange">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Quienes somos</h5>
          <p class="card-text">
              <a class="btn btn-primary " href="{% url 'public' %}">Acceso publico</a>

          </p>
          <p class="card-text">Esto es un card de ejemplo</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 900px;">
      <div class="row no-gutters">
        <div class="col-md-4" style="background-color: orange">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Contacto</h5>
            <p class="card-text">
                <a class="btn btn-primary " href="{%url 'private'%}">Acceso privado</a>

            </p>
            <p class="card-text">Esto es un card de ejemplo</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>



{% endblock %}
