{% extends 'beautycalendar/base.html' %}
{% load static %}

{% block header %}
<div class="page-header section-dark" style="background-image: url('static/assets/img/index.png')">
    <div class="content-center">
      <div class="container">
        <div class="title-brand">
          <h1 class="presentation-title">BeautyDaily</h1>
          
        <h2 class="presentation-subtitle text-center">Tu agenda de belleza online </h2>
      </div>
    </div>
</div>
   
</div>
{% endblock header %}

{% block content %}

{% for i in items  %}
<div class="row" style="margin: 10px"></div>
<div class="card mb-3" >
    <div class="row no-gutters">
      <div class="col">
        <div class="card-body">
          <h5 class="card-title">{{i.item}}</h5>
          <p class="card-text">
              <p></p>
              <a class="btn btn-primary " name={{i.id}} value={{i.id}} href="{% url 'filter_professional' i.id %}">Buscar</a>
          </p>
         
        </div>
      </div>
    </div>
  </div>
{% endfor %}

{% endblock %}
