{% extends 'beautycalendar/base.html' %}
{% load static %}

{% block javascript %}
  <script src="{% static 'content/profile.js' %}"></script>
{% endblock %}

{% block header %}
{% if user.imageFront %}
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('{{ user.imageFront.url }}')">
{% else %}
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('static/assets/img/fabio-mangione.jpg');">
{% endif %}

    <div class="filter"></div>
    
  </div>
  <div class="section profile-content">
      <button style="float: right;" type="button" class="btn btn-warning btn-sm js-update-photo"data-url="{% url 'front_update' pk=user.id %}">
          <i class="fa fa-pencil"></i>Editar
      </button>
    <div class="container" id="crop-avatar">
      <div class="owner">
        <div class="avatar">
        {% if user.imageAvatar %}
          <img  src="{{ user.imageAvatar.url }}" width="100" alt="Circle Image" class="img-circle img-no-padding img-responsive myphoto-div">
        {% else %}
          <img src='static/assets/img/placeholder.jpg'  alt="Circle Image" class="img-circle img-no-padding img-responsive">
        {% endif %}
        <button style="margin: 2px" type="button" class="btn btn-warning btn-sm js-update-photo"data-url="{% url 'avatar_update' pk=user.id %}">
            <i class="fa fa-pencil"></i>Editar
        </button>
        </div>
        <div class="name">
          <h4 class="title">{{user.first_name}}
            <br />
          </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          {% if user.description %}
            <p> {{user.description}} </p>  
          {% endif %}
          {% if user.kind == 1 %}
            {% if items %}
            <p>RUBROS:</p>
              {% for i in items %}
                <p>{{ i.items }}</p>
              {% endfor %}
            {% endif %}
          {% endif %}

          <br/>
          <btn class="btn btn-outline-default btn-round js-update-photo"data-url="{% url 'bio_update' pk=user.id %}"><i class="fa fa-cog"></i> Settings</btn>
        </div>
      </div>
      <br/>
      <div class="nav-tabs-navigation">
        <div class="nav-tabs-wrapper">
          
        </div>
      </div>

      <div class="modal fade" id="modal-photo">
          <div class="modal-dialog">
            <div class="modal-content">
            </div>
          </div>
    </div>
{% endblock header %}
{% block content %}
      {% block profile %}
      
      {% endblock %}
{% endblock %}
