{% extends "beautycalendar/private_profile_base.html" %}

{% block profile %}
{% if user.state == 3 %}
  <p>Estas bloqueado temporalmente! </p>
  {% else %}
<div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                PUBLICACIONES
              </button>
            </h2>
          </div>
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">  
            <div class="card-body">
              <a href="{% url 'publications-private' user.email %}" class="btn btn-primary">Go</a>
            </div>
          </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  SORTEOS
                </button>
              </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">  
              <div class="card-body">
                <a href="{% url 'draws_client' %}" class="btn btn-primary">Go</a>
              </div>
            </div>
        </div>   
</div>
{% endif %}
{% endblock profile %}