{% extends 'beautycalendar/base.html' %}
{% block header %}
<div class="page-header section-dark" style="background-image: url('static/assets/img/index.png')">
    <div class="content-center">
      <div class="container">
        <div class="title-brand">
          <h1 class="presentation-title">BeautyDaily</h1>
          
        <h2 class="presentation-subtitle text-center">Tu agenda de belleza online </h2>
      </div>
    </div>
</div>
   
</div>
{% endblock header %}
{% block content %}

    <p> Hola! esto es privado</p>

{% endblock %}
