{% extends "beautycalendar/private_profile_base.html" %}
{% include 'board / confirm_delete_modal.html '%}
{% block profile %}
  {% if user.state == 3 %}
  <p>Estas bloqueado temporalmente! </p>
  {% else %}
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseTwo">
            PRODUCTOS
          </button>
        </h2>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">  
        <div class="card-body">
          <a href="{% url 'product_list' %}" class="btn btn-primary">EDITAR PRODUCTOS</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            SERVICIOS
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">      
        <div class="card-body">
          <a href="{% url 'service_list' %}" class="btn btn-primary">EDITAR SERVICIOS</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            EMPLEADOS
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          <a href="{% url 'empleoyee_list' %}" class="btn btn-primary">EDITAR EMPLEADOS</a>
        </div>
      </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFour">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              PUBLICACIONES
            </button>
          </h2>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
          <div class="card-body">
            <a href="{% url 'publications-private' usuario.email %}" class="btn btn-primary">GO</a>
          </div>
        </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFive">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            SORTEOS
          </button>
        </h2>
      </div>
      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
        <div class="card-body">
          <a href="{% url 'draw_list' %}" class="btn btn-primary">EDITAR SORTEOS</a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

{% endblock profile %}


