{% extends 'beautycalendar/base.html' %}
{% load static %}

{% block header %}
{% if myuser.imageFront %}
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('{{ myuser.imageFront.url }}')">
{% else %}
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('/static/assets/img/fabio-mangione.jpg');">
{% endif %}

    <div class="filter"></div>
    
  </div>
  <div class="section profile-content">
    <div class="container" id="crop-avatar">
      <div class="owner">
        <div class="avatar">
        {% if myuser.imageAvatar %}
          <img  src="{{ myuser.imageAvatar.url }}" width="200" alt="Circle Image" class="img-circle img-no-padding img-responsive myphoto-div">
        {% else %}
          <img src='{% static "assets/img/placeholder.jpg" %}' alt="Circle Image" class="img-circle img-no-padding img-responsive">
        {% endif %}
     
        </div>
        <div class="name">
          <h4 class="title">
            {% if myuser.kind == 1 %}
              {% if myuser.name_salon %}
                {{myuser.name_salon}}
              {% else %}
                <p>{{myuser.first_name}} {{myuser.last_name}}</p>
              {% endif %}
            {% else %}
              {{myuser.first_name}}
            {% endif %}
            <br />
          </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          {% if myuser.description %}
            <p> {{myuser.description}} </p>  
          {% endif %}
          {% if myuser.kind == 1 %}
            {% if items %}
            <p>RUBROS:</p>
              {% for i in items %}
                <p>{{ i.items }}</p>
              {% endfor %}
            {% endif %}
            <div>
              <a class="btn btn-primary "  href="{% url 'calendar' myuser.id %}">Turno</a>
            </div>
          {% endif %}

          <br/>
        </div>
      </div>
      <br/>
      <div class="nav-tabs-navigation">
        <div class="nav-tabs-wrapper">
          
        </div>
      </div>

{% endblock header %}
{% block content %}
      {% block profile %}
      
      {% endblock %}
{% endblock %}
