{% extends "beautycalendar/public_profile_base.html" %}
{% block profile %}

  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseTwo">
            PRODUCTOS
          </button>
        </h2>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">  
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Producto</th>
                <th scope="col">Precio</th>
              </tr>
            </thead>
            <tbody>
              {% for product in products %}
                <tr>
                  <td>
                    {% if product.imageProduct %}
                      <img src="{{ product.imageProduct.url }}" width="50px">
                    {% else %}
                      <p>Sin imagen</p>
                    {% endif %}
                  </td>
                  <td>{{product.title}}</td>
                  <td>{{product.price}}</td>
                </tr>  
                {% empty %}
                <tr>
                  <td colspan="8" class="text-center ">Vacio</td>
                </tr>
              {% endfor %}
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            SERVICIOS
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">      
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Servicio</th>
                    <th scope="col">Precio</th>
                  </tr>
                </thead>
                <tbody>
                  {% for service in services %}
                    <tr>
                      <td>{{service.title}}</td>
                      <td>{{service.price}}</td>
                    </tr>  
                    {% empty %}
                    <tr>
                      <td colspan="8" class="text-center ">Vacio</td>
                    </tr>
                  {% endfor %}
                  
                </tbody>
              </table>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            EMPLEADOS
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                  </tr>
                </thead>
                <tbody>
                  {% for empleoyee in empleoyees %}
                    <tr>
                      <td>
                        {% if empleoyee.imageEmpleoyee %}
                            <img src="{{ empleoyee.imageEmpleoyee.url }}" width="50px">
                        {% else %}
                            <p>Sin imagen</p>
                        {% endif %}
                      </td>
                      <td>{{empleoyee.first_name}}</td>
                      <td>{{empleoyee.last_name}}</td>
                      
                    </tr>  
                    {% empty %}
                    <tr>
                      <td colspan="8" class="text-center ">Vacio</td>
                    </tr>
                  {% endfor %}
                  
                </tbody>
              </table>
        </div>
      </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFour">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              PUBLICACIONES
            </button>
          </h2>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
          <div class="card-body">
            <a href="{% url 'publications-client' myuser.email %}" class="btn btn-primary">GO</a>
          </div>
        </div>
    </div>
  </div>

  <row>

  <button style="float: right;" type="button" class="btn badge-danger btn-sm js-update-photo" data-url="{% url 'report' myuser.email %}">
    <i class="fa fa-pencil"></i>Denunciar
  </button>

</row>
{% endblock profile %}