{% extends "account/base.html" %}

{% load i18n %}

{% block account %}
<div class="container-fluid">
    <h1 style="color:white;">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p style="color:white">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" style="color:white" action="{{ action_url }}">
                {% csrf_token %}
                <div class="form-row">
                <p><label for="id_password1">Nueva contraseña:</label> 
                <input type="password" name="password1" placeholder="Nueva contraseña" required id="id_password1"></p>
                </div>
                <div class="form-row">
                <p >{{ form.errors.password1 }}</p>
                </div>
                <div class="form-row">
                <p><label for="id_password2">Nueva contraseña (de nuevo):</label> 
                <input type="password" name="password2" placeholder="Nueva contraseña (de nuevo)" required id="id_password2"></p>
                </div>
                <div class="form-row">
                <p >{{ form.errors.password2 }}</p>
                </div>
                <div class="form-row">
                <p>
                <input type="submit" class="btn btn-danger btn-block btn-round" name="action" value="{% trans 'change password' %}"/>
                </p>
                <div>
            </form>
        {% else %}
            <p style="color:white">{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
