{% extends "account/base.html" %}
{% load i18n %}


{% block account %}

    <div class="container-fluid">

    <h1>{% trans "Set Password" %}</h1>

    <form method="POST" style="color:white" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-row">
        <p>
        <input type="submit" class="btn btn-danger btn-block btn-round" name="action" value="{% trans 'Set Password' %}"/>
        </p>
        </div>
    </form>
{% endblock account %}
