{% extends "account/base.html" %}
{% load i18n %}

       
{% block account %}

    <div class="container-fluid">
        
        <h1 style="color:white;">{% trans "Change Password" %}</h1>
        <div  class='card-password passwordsChange'>
           
        <form method="POST" style="color: white" class="password_change">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-danger btn-block btn-round" name="action">{% trans "Change Password" %}</button>
        </form>
    </div>
{% endblock %}
