{% extends "account/base.html" %}
{% load i18n %}
{% load account %}

{% block account %}

    <div class="container-fluid">
        {% for field in form %}
        {% if field.errors %}
            <div class="alert " role="alert">
                {{ field.errors }}
            </div>
        {% endif %}
        {% endfor %}
    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p style='color:white'>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
 
    <form method="POST" style='color:white' action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        <div class="form-row">
        <p><label for="id_email">Correo electrónico:</label> 
        <input class="form-control" type="email" name="email" size="30" placeholder="Correo electrónico" required id="id_email"></p>
        </div>
        <div class="form-row">
        <p>
        <input type="submit" class="btn btn-danger btn-block btn-round" value="{% trans 'Reset My Password' %}" />
        </p>
         </div>
  </form>


    <p style='color:white'>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
</div>
{% endblock account %}
