{% extends "account/base.html" %}
{% load i18n %}

       
{% block account %}

    <div class="container-fluid">
        

        <h1 style="color:white;">{% trans "Change Password" %}</h1>

        <form method="POST" action="{% url 'account_change_password' %}" class="password_change" style="color:white;font-weight: bold;">
            {% csrf_token %}
    
            <div class="form-row">
            <p>
            <label  for="id_oldpassword">Contraseña actual:</label> 
            <input class="form-control" type="password" name="oldpassword" placeholder="Contraseña actual" required id="id_oldpassword">
            </div>  
            <div class="form-row">
            <p >{{ form.errors.oldpassword }}</p>
            </div>
            <div class="form-row">
                <p>    
                <label for="id_password1">Nueva contraseña:</label> 
                <input class="form-control" type="password" name="password1" placeholder="Nueva contraseña" required id="id_password1"></p>
            </div>
            <div class="form-row">
            <p >{{ form.errors.password1 }}</p>
            </div>
            <div class="form-row">
                <p>
                <label for="id_password2">Nueva contraseña (de nuevo):</label>
                <input class="form-control" type="password" name="password2" placeholder="Nueva contraseña (de nuevo)" required id="id_password2"></p>
            </div>
            <div class="form-row">
            <p> {{ form.errors.password2 }} </p>

            </div>
            <div class="form-row">
            <p>
                <button type="submit" class="btn btn-danger btn-block btn-round" name="action">{% trans "Change Password" %}</button>
            </p>
        </div>

    </form>
{% endblock %}
