{% extends "socialaccount/base.html" %}

{% load i18n %}


{% block account %}
<div class="container-fluid">
    <h1 style="color:white;">{% trans "Sign Up" %}</h1>

<p style="color:white;">{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
{{site_name}}. As a final step, please complete the following form:{% endblocktrans %}</p>

<form class="signup" style="color:White" id="signup_form"  method="post" action="{% url 'socialaccount_signup' %}">
  {% csrf_token %}
        {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="form-row">
  <p>
  <button type="submit" class="btn btn-danger btn-block btn-round">{% trans "Sign Up" %} &raquo;</button>
  </p>
  <div>
</form>
</div>
{% endblock %}
