.body-without-image
{
   margin-top:110px
}


#id_title,#id_category ,#id_description
{
   display: block;
   width: 100%;
   height: calc(1.5em + .75rem + 2px);
   padding: .375rem .75rem;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   color: #000000;
   background-color: #fff;
   background-clip: padding-box;
   border: 1px solid #eb4e06;
   border-radius: .25rem;
   transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

label{
   font-weight: normal;
   color: black;
}
.form-text-input
{
    background-color: rgba(255, 255, 255, 0);
    border-radius: 8px;
    color: rgb(0, 0, 0);
    max-width: 450px;
    margin: 20px 0 70px;
    min-height: 400px;
    padding: 30px;
    font-weight: bold;

}
.card-forms
{
    border-radius: 12px;
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
    background-color: #ffffff00;
    color: #000000;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    border: 0 none;
    -webkit-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
    -moz-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
    -o-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
    -ms-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
    transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
}