{% extends "beautycalendar/basewithoutimage.html" %}
{% load static %}
{% block javascript %}
  
<script type="text/javascript">
    
    document.addEventListener('DOMContentLoaded', function() {
    
    
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      plugins: [ 'interaction', 'dayGrid', 'timeGrid', 'list' ],
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
      },
      navLinks: true, // can click day/week names to navigate views
      timeZone:'UTC',
      locale: 'es',
      weekNumbers: true,
      weekNumbersWithinDays: true,
      weekNumberCalculation: 'ISO',
      editable: false,
      eventLimit: true, // allow "more" link when too many events
      events: {
        url:'{% url "events_client" %}',
        color: "orange",
        textColor: "black"
      },
      eventClick: function(info) {

        var message= confirm("Desea este cancelar turno?")
        if (message == true){
          var event= info.event.id
          $.ajax({
            url:'{% url "delete-event" pk=111 %}'.replace(111,event),
            data:event.id,
            method:"GET",
            type:'json',
            success: function(data){
              if (data.is_valid) {
                location.reload();
            };
          }
          })
        }

      }

      
    });
    calendar.render();
  });




</script>


{% endblock javascript %}

{% block content %}
<p>
  <a href="{% url 'private_profile' %}" style="color: black"><i class="fa fa-angle-left" ></i> Back</a>
</p>
<div style="width: 100%; height:80%">
    <div  id='calendar' class="fc fc-ltr fc-unthemed container-fluid"> </div>
    <p>{{id}}</p>
  </div>
{% endblock content %}