{% extends "beautycalendar/basewithoutimage.html" %}
{% load static %}

{% block content %}
  <p>
    <a href="{% url 'private_profile' %}" style="color: black"><i class="fa fa-angle-left" ></i> Back</a>
  </p>
  <h1>Turnos</h1>

  <table class="table" id="mycontent-table">
    <thead>
      <tr>
        <th>Salon</th>
        <th>Dia</th>
        <th>Horario</th>
      </tr>
    </thead>
    <tbody>
        
        {% for date in dates  %}
          <tr>
              <td>{{date.salon}}</td>
              <td>{{date.date}}</td>
              <td>{{date.init_time}}</td>
          </tr>
          {% empty %}
            <tr>
                <td colspan="8" class="text-center bg-warning">No existen turnos aun</td>
            </tr>
        {% endfor %}
    </tbody>
  </table>

{% endblock %}