{% for content in mycontent %}
  <tr>
    <td>{{ content.title }}</td>
    <td>{{ content.price }}</td>
    <td style="width: 150px">
      <button style="margin: 2px" type="button" class="btn btn-warning btn-sm js-update-mycontent"data-url="{% url 'service_update' content.id %}">
        <i class="fa fa-pencil"></i>Editar
    </button>
    <button type="button" style="margin: 2px" class="btn btn-danger btn-sm js-delete-mycontent" data-url="{% url 'service_delete' content.id %}">
            <i class="fa fa-trash"></i> Eliminar
    </button>
    </td>
  </tr>
  {% empty %}
  <tr>
    <td colspan="8" class="text-center bg-warning">No existen servicios aún</td>
  </tr>
{% endfor %}