.errorlist {
    color:red;
    font-weight: bold
}
#id_password1, #id_password2, #id_email,#id_username
{
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    color: #66615b;
    font-size: 14px;
    transition: background-color 0.3s ease 0s;
    padding-right: 0 !important;
    padding: 7px 12px;
    height: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
#id_remember{
    visibility: hidden;
}