{% extends "beautycalendar/basewithoutimage.html" %}
{% load static %}
{% block javascript %}
    <script>

    function deletePublication(num){
      $.ajax({
             url:'{% url "publication_delete" pk=111%}'.replace('111',num),
             type:'json',
             method:'GET',   
             success: function like(data){
                alert('publicacion eliminada!')
                location.reload()
             }        
         }) 
    };
    // $( "#delete" ).on( "click", function() {
    //     var publication='{{l.id}}'
    //      $.ajax({
    //          url:'{% url "publication_delete" pk=111%}'.replace('111',publication),
    //          type:'json',
    //          method:'GET',   
    //          success: function like(data){
    //             location.reload()
    //          }        
    //      })
    //     });
    </script>

{% endblock javascript %}
{% block content %}
  <a href="{% url 'publications_create' %}">CREAR</a>
  
  {% include "beautycalendar/publications/publications_list.html" %}
{% endblock content %}