{% extends "beautycalendar/basewithoutimage.html" %}
{% load static %}
{% block javascript %}
    <script>

    function deletePublication(num){
      $.ajax({
             url:'{% url "publication_delete" pk=111%}'.replace('111',num),
             type:'json',
             method:'GET',   
             success: function like(data){
                alert('publicacion eliminada!')
                location.reload()
             }        
         }) 
    };
   
    </script>

{% endblock javascript %}
{% block content %}

  {% if typeUser == 1 %}
    <p>
      <a href="{% url 'private_profile' %}" style="color: black"><i class="fa fa-angle-left" ></i> Back</a>
    </p>
    <h1>Publicaciones</h1>
    <a href="{% url 'publications_create' %}">CREAR</a>
    {% include "beautycalendar/publications/publications_list.html" %}
  {% else %}
    <a href="javascript:window.history.back();" style="color: black" ><i class="fa fa-angle-left" ></i> Back</a>
    {% include "beautycalendar/publications/publication_list_client.html" %}
  {% endif %}
{% endblock content %}