{% extends "beautycalendar/base.html" %}
{% load static %}
{% block title %}Forgot Your Password?{% endblock %}

{% block content %}

      {% if user.is_authenticated %}
        <p>No puedes acceder a esta pagina!</p>
        <p><a class='btn btn-primary' href="{% url 'home' %}" >Volver a home</a></p>
    {% else %}
  <h1> ¿Has olvidado tu tu contraseña?</h1>
  <p> Introduzca su dirección de correo electrónico a continuación y le enviaremos instrucciones por correo electrónico para restaurar su contraseña.</p>

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input class='btn btn-primary' type="submit" value="Send me instructions!">
  </form>
  {% endif %}
{% endblock %}

{# This is used by django.contrib.auth #}
