{% for content in mycontent %}
  <tr>
    <td>{{ content.first_name }}</td>
    <td>{{ content.last_name }}</td>
    <td>
      {% if content.imageEmpleoyee %}
        <img src="{{ content.imageEmpleoyee.url }}" width="50px">
      {% else %}
        <p>Sin imagen</p>
      {% endif %}
    </td>
    <td>
      {% if content.state == 1 %}
        <input type="checkbox" class="js-pause-mycontent"  data-url="{% url 'empleoyee_pause' content.id %}">
      {% else %}
        <input type="checkbox" name='checkbox' class="js-pause-mycontent"  data-url="{% url 'empleoyee_pause' content.id %}" checked>
      {% endif %}
    </td>
    <td style="width: 150px">
      <button style="margin: 2px" type="button" class="btn btn-warning btn-sm js-update-mycontent"data-url="{% url 'empleoyee_update' content.id %}">
          <i class="fa fa-pencil"></i>Editar
      </button>
      <button type="button" style="margin: 2px" class="btn btn-danger btn-sm js-delete-mycontent" data-url="{% url 'empleoyee_delete' content.id %}">
              <i class="fa fa-trash"></i> Eliminar
      </button>
      <a type="button" style="margin: 2px" class="btn btn-sm " href="{% url 'empleoyee_calendar' content.id %}">
          <i class="fa fa-calendar"></i> Calendario
       </button>

    </td>
  </tr>
  {% empty %}
  <tr>
    <td colspan="8" class="text-center bg-warning">No existen empleados aun</td>
    <td> </td>
    <td> </td>
    <td> </td>
    <td> </td>
  </tr>
{% endfor %}